<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<link rel="stylesheet" href="css/style.css">

<body>
  <div>你好ejs</div>
  <%- include public/header.ejs %>
    <ul>
      <% for(var i=0; i<list.length; i++) {%>
        <li>
          <%= list[i] %>
        </li>
        <% } %>
    </ul>
</body>

</html>